<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Workspace/learn-automation/3-Appium/appium-test/src/test/java/tests/TestOne.java">
        <classes>
            <class name="tests.TestOne">
                <methods>
                    <include name="testOne"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>